@{
    Layout = null;
    //Biến nhập liệu: không có
    string LoiChao = "";//Biến kết quả
    string ChuoiHTML = "";

    LoiChao = "Xin chào Khách tham quan";//Xử lý nghiệp vụ: tính toán kết quả

    //Xử lý giao diện: tạo chuỗi HTML
    string ChuoiHTML_LoiChao = "<div>" + LoiChao + "<br/> Đây là Ứng dụng Web <b> Xử lý giao diện (Kết Xuất) </b> đầu tiên của tôi";
    string ChuoiHTML_HinhAnh = "<img src='Media/KhachThamQuan.jpg' width='150' height='150'> <br/>";
    ChuoiHTML = ChuoiHTML_HinhAnh + ChuoiHTML_LoiChao;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Raw(ChuoiHTML)
    </div>
</body>
</html>
